.analytics{

}

.analyticsModal{
    height: 100%;
    /* border: 1px solid red; */
}

.flex-text{
    display:flex;
    flex-direction: column;
}

.flex2{
    display:flex;
    gap: 2px;
    justify-content: space-between;
    /* border: 1px solid red; */
    height: 100%;
}

.gridan{
    display:grid;
    grid-template-columns: 5fr 3fr;
    grid-template-rows: 1fr;
    height: 100%;
}

.line{
    height: 2px;
    background-color: antiquewhite;
    width: 90%;
}

.aheight{
    height: 180px;
}

.flexrow{
    display:flex;
}

.hide{
    display:none;
}