@tailwind base;
@tailwind components;
@tailwind utilities;

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Cabin', sans-serif;
    font-size: 16px;
    font-weight: 400;
    font-display: swap;
}

html, body{
    width: 100% !important;
    height: 100% !important;
    margin: 0px !important; 
    padding: 0px !important;
    overflow-x: hidden !important; 
}

/* Scrollbars */

body::-webkit-scrollbar{
    display:none;
}

::-webkit-scrollbar{
    width: 9px;
    height: 9px;
}

::-webkit-scrollbar-track{
    background: #beb8df;
    border-radius: 100vw;
    margin-block: 2rem;
    border: 3px solid var(--modal-background);
    margin-left: 2em;
    margin-right: 2em;
}

::-webkit-scrollbar-thumb{
    background: #aa48aa;
    border-radius: 100vw;
    box-shadow: 1px 1px 4px 1px hsla(0,0,0,0.75);
}

::-webkit-scrollbar-thumb:hover{
    background: #ce73ce;
}