.dark{
    color: white;
}

.nav-container{
    width: 100%;
    padding: 30px;
    display:flex;
    flex-direction: column;
    max-width: 200px;
    justify-content:space-between;
    align-items: center;
    height: 100%;
    margin: auto 0;
    border-radius: 6px;
}

.nav__user{
    display:flex;
    flex-direction: column;
    text-align: center;
    margin: 0 auto;
    color: white;
    justify-content: center;
    align-content: center;
}

.nav__footer--flex{
    display:flex;
    flex-direction: column;
    gap: 10px;
}

.nav__footer__socials{
    display:flex;
    justify-content: space-between;
    width: 90%;
    margin: 0 auto;
    margin-top: 10px;
}

.nav__user__title{
    font-size: 20px;
    color: white;
}

.nav__user__icon {
    height: 125px;
    width: 125px;
    /* background-color: #bbb; */
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 50px;
    margin: 0 auto;
    
}