.spending{
    /* border: 1px solid red; */
}

.pie-chart{
    /* border: 1px solid red; */
}



.spending__flex{
    height: 100%;
    display: grid;
    grid-template-columns: 1.5fr 1fr 2fr;
    gap: 20px;
}

.accordion__overflow{
    max-height: 280px;
    overflow-x: hidden;
    overflow-y: auto;
    flex-direction: column;
    /* border: 1px solid red; */
}

.accordion-this{
    height: 300px;
    display:flex;
    flex-direction: column;
    /* border: 1px solid red; */
    flex-grow: 1;
}

.accordion--flex{
    align-self: flex-end;
    justify-self: flex-end;
    /* border: 1px solid red; */
    margin-top: auto;
}

.title__width{
    width: 200px;
    flex-grow: 5;
    text-align: center;
    color: var(--modal-title);
}

.MuiAccordionSummary-content{
    margin: 0px !important;
}

.MuiAccordionDetails-root{
    background-color: #2e2270;
}

.accordion--transactions{
    margin: 0 auto;
    display:grid;
    width: 90%;
    /* border: 1px solid red; */
    grid-template-columns: 1fr 1fr 1fr;
    /* flex-direction: row; */
    /* justify-content: space-between; */
    color: var(--modal-title);
}