/* Transactions Modal */

.transactionsModal{
    display:flex;
    flex-direction: column;
}

.transactions{
    overflow: scroll;
    overflow-x: hidden;
    /* vvv y for enabling scrollbar if something is wrong later */
    overflow-y: auto;
    height: 83%;
    padding: 1rem;
    margin-bottom: 20px;
    text-decoration: none;
}

/* .transactions--shadow{
    height: 100px;
    background-color: red;
    position:static;
    width: 100px;
} */

.transactions__list{
    list-style-type: none;
}

.transactions--flex{
    display:flex;
    justify-content: space-between;
}

.transactionsModal{
    padding: 15px;
}

.transaction__value{
    display:flex;
}

.flex-stack{
    display:flex;
    flex-direction: column;
}

/* Horizontal Line */

hr{
    display: block;
    height: .5px;
    border: 0;
    border-top: .5px solid rgb(128, 128, 128);
    margin: 1em 0;
    padding: 0;
}

.formspacing{
    display:flex;
    flex-direction: column;
}

/* Each Transaction */

.transaction--category{
    font-stretch: condensed;
}

.transaction{
    display:flex;
    justify-content: space-between;
    gap: 1.5rem;
    font-family: 'Cabin';
    font-size: 16px;
    align-items: center;
    color: #D7CDff;
    font-stretch: condensed;
}

.transaction--negative{
    color: var(--negative-red);
}

.transaction--positive{
    color: var(--positive-green);
}

.transaction--transfer{
    color: var(--transfer-yellow);
}